:root {
    --hard-blue: #114084;
    --off-white: #f1f1f1;
    --mid-blue: #3466AA;
    --light-blue: #82b7dc;
    --shader: #808080;
    --off-black: #1c1c1c;
}

header {
    color: var(--off-white);
    background-color: var(--hard-blue);
}

.intro {
    padding-top: 200px;
}

.carousel {
    margin-bottom: 4rem;
  }

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
.carousel-item {
    height: 32rem;
  }

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

.answers {
color: var(--hard-blue);
background-color: var(--hard-blue);
border-radius: 10px;
border: solid var(--off-black);
}

.answers:hover {
color: var(--off-black);
background-color: var(--off-white);
}
